﻿@model My_Project.Models.Comment

<div class="display-field">
        <h2>Cach Day:@Html.DisplayFor(model => model.LastTime) phút</h2>
    </div>
    
    <div class="display-field">
     Ten: @Html.DisplayFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>