﻿@model My_Project.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Comment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SucKhoe.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SucKhoe.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TinhCam.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TinhCam.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GiaDinh.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaDinh.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TamLy.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TamLy.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HocTap.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HocTap.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CongViec.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CongViec.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.XaHoi.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.XaHoi.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
