﻿@model My_Project.Models.Comment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreated)
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SucKhoeID, "SucKhoe")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SucKhoeID", String.Empty)
            @Html.ValidationMessageFor(model => model.SucKhoeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TinhCamID, "TinhCam")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TinhCamID", String.Empty)
            @Html.ValidationMessageFor(model => model.TinhCamID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GiaDinhID, "GiaDinh")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GiaDinhID", String.Empty)
            @Html.ValidationMessageFor(model => model.GiaDinhID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TamLyID, "TamLy")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TamLyID", String.Empty)
            @Html.ValidationMessageFor(model => model.TamLyID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HocTapID, "HocTap")
        </div>
        <div class="editor-field">
            @Html.DropDownList("HocTapID", String.Empty)
            @Html.ValidationMessageFor(model => model.HocTapID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CongViecID, "CongViec")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CongViecID", String.Empty)
            @Html.ValidationMessageFor(model => model.CongViecID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XaHoiID, "XaHoi")
        </div>
        <div class="editor-field">
            @Html.DropDownList("XaHoiID", String.Empty)
            @Html.ValidationMessageFor(model => model.XaHoiID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
