﻿@model IEnumerable<My_Project.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SucKhoe.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhCam.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaDinh.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TamLy.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocTap.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CongViec.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XaHoi.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SucKhoe.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhCam.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaDinh.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TamLy.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocTap.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CongViec.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XaHoi.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
