﻿@model My_Blog.Models.Tag

@using (Html.BeginForm("Create", "Tag", new { idpost1 = ViewData["idpost1"] }))
{   
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Tag</legend>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>       
        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

