﻿@model My_Project.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>

 <div class="display-label">
         <h2>Post Liên Quan:</h2> 
   </div>
<fieldset>
    <legend>SucKhoe</legend>
     @foreach (var post in Model.SucKhoes)
     {
   
    <div class="display-field">
        @Html.RouteLink(post.Title, new { Controller = "SucKhoe", Action = "Details",id=post.ID })       
              
    </div>
     }
</fieldset>
<fieldset>
    <legend>TinhCam</legend>
     @foreach (var post in Model.TinhCams)
     {
   
    <div class="display-field">
        @Html.RouteLink(post.Title, new { Controller = "TinhCam", Action = "Details",id=post.ID })       
              
    </div>
     }
</fieldset>
<fieldset>
    <legend>GiaDinh</legend>
     @foreach (var post in Model.GiaDinhs)
     {
   
    <div class="display-field">
        @Html.RouteLink(post.Title, new { Controller = "GiaDinh", Action = "Details",id=post.ID })       
              
    </div>
     }
</fieldset>
<fieldset>
    <legend>TamLy</legend>
     @foreach (var post in Model.TamLies)
     {
   
    <div class="display-field">
        @Html.RouteLink(post.Title, new { Controller = "TamLy", Action = "Details",id=post.ID })       
              
    </div>
     }
</fieldset>
<fieldset>
    <legend>HocTap</legend>
     @foreach (var post in Model.HocTaps)
     {
   
    <div class="display-field">
        @Html.RouteLink(post.Title, new { Controller = "HocTap", Action = "Details",id=post.ID })       
              
    </div>
     }
</fieldset>
<fieldset>
    <legend>CongViec</legend>
     @foreach (var post in Model.CongViecs)
     {
   
    <div class="display-field">
        @Html.RouteLink(post.Title, new { Controller = "CongViec", Action = "Details",id=post.ID })       
              
    </div>
     }
</fieldset>
<fieldset>
    <legend>XaHoi</legend>
     @foreach (var post in Model.XaHois)
     {
   
    <div class="display-field">
        @Html.RouteLink(post.Title, new { Controller = "XaHoi", Action = "Details",id=post.ID })       
              
    </div>
     }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TagID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
