﻿@model My_Blog_5.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

    <div class="display-field">
     <h2>Add Comment</h2>
    </div>

@Html.Partial("_addComment", new My_Blog_5.Models.Comment(), ViewData);

<fieldset>
    <legend>Comment</legend>
    <div id="result">
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(5)) 
    {
         <div class="display-label">
         <h2>Tên:@Html.DisplayFor(x => comment.Author)</h2>
        </div>        
        <div class="display-label">
         <h2>Đăng cách đây:@Html.DisplayFor(x => comment.LastTime) phút</h2>
        </div>        
        <div class="display-label">
         <h2>Nội dung:</h2>@Html.DisplayFor(x => comment.Body)
        </div>       
    }
    </div>
</fieldset>

 <div class="display-field">
     <h2>Tags</h2>
    </div>

<fieldset>
    <legend>Tag</legend>
   
    @foreach (var tag in Model.Tags) 
    {
        @*<div class="display-label">
         @Html.DisplayFor(x => tag.Content)
        </div>*@
        <div class="display-label">
         @Html.RouteLink(tag.Content, new { Controller = "Tag", Action = "Details", id = tag.TagID})
         
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
