﻿@model My_Blog_5.Models.Comment

<div class="display-label">
         <h2>Đăng cách đây:@Html.DisplayFor(model => model.LastTime) phút</h2>
</div> 
<div class="display-label">
         <h2>Tên:@Html.DisplayFor(model => model.Author)</h2>
</div>
<div class="display-field">
        @Html.DisplayFor(model => model.Body)
</div>

